flask
flask-cors
flask-jwt-extended
bcrypt
numpy
opencv-python
matplotlib
imutils
opencv-contrib-python
ultralytics
openpyxl
# instalar todo , si da error culpa de Gamarra x2
pip install flask flask-cors flask-jwt-extended bcrypt opencv-python matplotlib imutils opencv-contrib-python ultralytics openpyxl Numpy