@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #002244;
    font-family: "Montserrat", sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.header .username {
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.registro-info {
    text-align: left;
    margin-bottom: 20px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
}

.objeto-img {
    max-width: 200px;
    max-height: 200px;
}

.registro-result {
    margin-top: 10px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.check-icon {
    font-size: 72px;
    margin-bottom: 20px;
}

.success-icon {
    color: #28a745;
}

.error-icon {
    color: #dc3545;
}

.botones {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
